<ion-view view-title="Map" >
        
    <ion-content class="padding" >

        <div class="item item-input controls" style="width: 50%;">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="pac-input" type="text" placeholder="Search Location" data-tap-disabled="true" ng-change='disableTap()' ng-model="search">
        </div>

        

        <div id="map" data-atp-disabled="true"></div> 

        <button class="button button-positive" ng-click = "addEvent()" style=" bottom: 71px;  margin-left: 9px;">
            Add
        </button>

        <button class="button button-positive" ng-click = "locateMe()" style=" bottom: 71px;  margin-left: 9px;">
            Locate me
        </button>

    </ion-content>
    
</ion-view>

