<ion-view view-title="Profile">
    <ion-content class="padding">

        <div class="list">
            <li class="item" >
                User name   {{profile.user_name}}
            </li>

            <label class="item item-input item-floating-label" >
                <span class="input-label">User name</span>
                <input type="text" placeholder="User name" ng-model="profile.uname">
            </label>

            <li class="item" ng-model="profile.phone_number">
            Phone number    {{profile.phone_number}}
            </li>

            <li class="item" ng-model="profile.email">
            Email Id    {{profile.email}}
            </li>

            <label class="item item-input item-floating-label">
                <span class="input-label">Email id</span>
                <input type="text" placeholder="Email id" ng-model="profile.email_id">
            </label>

            <li class="item item-toggle"  >
                Share your Location
                <label class="toggle toggle-calm">
                    <input type="checkbox" ng-model="profile.checked" ng-click="toggleCustom()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

        </div>

        <button class="button button-positive" ng-click = "savefunction()">
            Save
        </button>

 </ion-content>
</ion-modal-view>
